// ==== 
// SCSS Variables 
// ==== 

//colors 
$dark_blue: #1c2e44;
$yellow: #f9ff50;
$light_blue: #73b2ff;

//Breakpoints
$tiny-break: em(420px);
$small-break: em(600px);
$medium-break: em(780px);
$large-break: em(1024px);
$x-large-break: em(1200px);
// ==== 
// SCSS Mixins 
// ==== 

