div.root {
  margin-top: 15%;
}

.root h1 {
  color: #FFF;
  font-size: 6rem;
  display: flex;
  flex-direction: column;
}

.root .infoRow {
  display: flex;
  flex-direction: row;
  color: rgba(255, 255, 255, .9);
  font-family: sans-serif;
}

.root .infoRow div {
  margin-right: 2rem;
  text-transform: uppercase;
}

.root a {
  color: rgba(255, 255, 255, .9);
}
